<h1>Pirate: <%=@pirate.name%></h1>
<p>Height: <%=@pirate.height%></p>
<p>Weight: <%=@pirate.weight%></p>


<h2>Ship name: <%=@ships[0].name%></h2>
<p>Type: <%=@ships[0].type%></p>
<p>Booty: <%=@ships[0].booty%></p>


<h2>Ship name: <%=@ships[1].name%></h2>
<p>Type: <%=@ships[1].type%></p>
<p>Booty: <%=@ships[1].booty%></p>
